@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("./resources/prism.css");
@import url("./components/images.css");
@import url("./components/avatar.css");
@import url("./components/badge.css");
@import url("./components/cards.css");
@import url("./components/alerts.css");
@import url("./components/utils.css");
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-font: Lato;
  --primary-color: #111827;
  --border-color: #e5e5e5;
}

.main {
  padding: 1rem 0.5rem;

  position: relative;
}

/* utils */
.space-comp {
  margin-bottom: 2rem;
}

/* navbar */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.navbar__title {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding-bottom: 1rem;

  border-bottom: 3px solid var(--primary-color);

  color: var(--primary-color);

  font-family: var(--primary-font);
  font-size: 1.3rem;
  font-weight: 700;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;

  width: 100%;

  padding-bottom: 1rem;
}

.navbar__menu__btn {
  display: inline-block;
  width: fit-content;

  padding: 0;

  background-color: transparent;

  border: 0;

  outline: 0;

  cursor: pointer;
}

.navbar__menu__social__twitter,
.navbar__menu__social__github {
  display: inline-block;
  margin: 0 0.1rem;
}

.navbar__title__text {
  cursor: pointer;
}

.container {
  display: flex;
  margin: 1rem 0;
  height: 100vh;
  position: relative;
}

/* sidebar */

.sidebar {
  background-color: var(--backgroud-color);
  border-right: 3px solid var(--primary-color);
  display: none;
  position: fixed;
  /* top: 3rem; */
}

.sidebar__title {
  font-size: 10px;

  letter-spacing: 0.5px;

  font-family: var(--primary-font);

  color: var(--primary-color);
}

.sidebar__list {
  position: sticky;
  top: 0;
  list-style-type: none;

  margin: 0;
  padding: 0;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.sidebar__item {
  display: block;

  text-decoration: none;

  padding: 0.3rem 0;

  font-size: 1.3rem;
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 600;

  width: 100%;

  flex-shrink: 1;
}

/* component container */

.component-container {
  width: 100%;
  display: flex;

  flex-direction: column;
  margin: 1rem 0;
  height: 100vh;
}

.component--mod {
  padding: 1rem 0;

  font-family: var(--primary-font);
}

.ex-img {
  max-width: 100%;
}
.img {
  width: 100%;
}

div.code-toolbar {
  right: 0;
}

/* media queries for larger screens */

@media screen and (min-width: 576px) {
  .container {
    display: flex;
  }
  .sidebar {
    width: 20%;
  }

  .component-container {
    /* display: flex;
    flex-direction: column; */
    width: 80%;
    padding-left: 3rem;
    /* margin: 2rem; */
    position: absolute;
    /* top: 0; */
    left: 20%;
  }
  .main {
    padding: 1rem 2rem;
  }
  .sidebar {
    display: inline-block;
    flex-shrink: 1;
  }
  .navbar__title {
    position: absolute;
  }
  .navbar__menu {
    z-index: 1;
  }
  .navbar__title__text {
    z-index: 2;
  }
}
