@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-font: Lato;
  --success-alert-backcolor: #c6f4d5;
  --success-alert-fontcolor: #3bb54a;
  --alert-font-size: 1.4rem;
  --alert-icon-margin-right: 1rem;
  --alert-padding: 1rem;
}

.alerts {
  width: 100%;
}

.alerts__success {
  display: flex;

  padding: var(--alert-padding);

  font-size: var(--alert-font-size);
  font-family: var(--primary-font);

  background-color: var(--success-alert-backcolor);
  color: var(--success-alert-fontcolor);
}

.alerts__success__svg {
  display: inline-block;
  margin-right: var(--alert-icon-margin-right);
}
