<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./avatar.css" />
    <link rel="stylesheet" href="../resources/prism.css" />
  </head>

  <body>
    <div class="avatar">
      <div class="avatar-display">
        <img
          class="img-big img-utils"
          alt="avatar-small"
          src="../resources/man.svg"
          width="96"
          height="96"
        />
        <img
          class="img-medium img-utils"
          alt="avatar-medium"
          src="../resources/man.svg"
          width="64"
          height="64"
        />
        <img
          class="img-small img-utils"
          alt="avatar-medium"
          src="../resources/man.svg"
          width="48"
          height="48"
        />
        <img
          class="img-ex-small img-utils"
          alt="avatar-extra-small"
          src="../resources/man.svg"
          width="32"
          height="32"
        />
      </div>
      <pre>
        <code class="language-markup"> 
          &lt;img class=&quot;img-big img-utils&quot; alt=&quot;avatar-big&quot; src=&quot;--enter--your--source&quot; width=&quot;128&quot; height=&quot;128&quot; /&gt;
        </code>
     </pre>
      <pre>
        <code class="language-markup">
          &lt;img class=&quot;img-medium img-utils&quot; alt=&quot;avatar-medium&quot; src=&quot;--enter--your--source&quot; width=&quot;96&quot; height=&quot;96&quot;/&gt;
        </code>
     </pre>
      <pre>
       <code class="language-markup">
        &lt;img class=&quot;img-small img-utils&quot; alt=&quot;avatar-small&quot; src=&quot;--enter--your--source&quot; width=&quot;64&quot; height=&quot;64 &quot;/&gt;
       </code>
     </pre>
      <pre>
        <code class="language-markup">
          &lt;img class=&quot;img-ex-small img-utils&quot; alt=&quot;avatar-extra-small&quot; src=&quot;--enter--your--source&quot; width=&quot;32&quot; height=&quot;32&quot; /&gt; 
        </code>
      </pre>
    </div>
    <script src="../resources/prism.js"></script>
  </body>
</html>
