<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../resources/prism.css" />
    <link rel="stylesheet" href="./badge.css" />
  </head>
  <body>
    <div class="badge-icon-container">
      <div class="badge-div">
        <a href="#" class="badge-icon">
          <svg
            height="24"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="8"
              cy="21"
              fill="none"
              r="2"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
            <circle
              cx="20"
              cy="21"
              fill="none"
              r="2"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
            <path
              d="M5.67,6H23l-1.68,8.39a2,2,0,0,1-2,1.61H8.75a2,2,0,0,1-2-1.74L5.23,2.74A2,2,0,0,0,3.25,1H1"
              fill="none"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
          <span class="num-badge cart-badge">10</span>
        </a>
        <a href="#" class="badge-icon">
          <svg
            fill="none"
            height="24"
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
            />
          </svg>
          <span class="num-badge wishlist-badge">10</span>
        </a>
        <a href="#" class="badge-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-bell"
          >
            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
            <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
          </svg>
          <span class="num-badge notif-badge">10</span>
        </a>
      </div>
      <pre>
        <code class="language-markup">
          &lt;a href=&quot;#&quot; class=&quot;badge-icon&quot;&gt;
          &lt;svg
            height=&quot;24&quot;
            viewBox=&quot;0 0 24 24&quot;
            width=&quot;24&quot;
            xmlns=&quot;http://www.w3.org/2000/svg&quot;
          &gt;
            &lt;circle
              cx=&quot;8&quot;
              cy=&quot;21&quot;
              fill=&quot;none&quot;
              r=&quot;2&quot;
              stroke=&quot;#000&quot;
              stroke-linecap=&quot;round&quot;
              stroke-linejoin=&quot;round&quot;
              stroke-width=&quot;2&quot;
            /&gt;
            &lt;circle
              cx=&quot;20&quot;
              cy=&quot;21&quot;
              fill=&quot;none&quot;
              r=&quot;2&quot;
              stroke=&quot;#000&quot;
              stroke-linecap=&quot;round&quot;
              stroke-linejoin=&quot;round&quot;
              stroke-width=&quot;2&quot;
            /&gt;
            &lt;path
              d=&quot;M5.67,6H23l-1.68,8.39a2,2,0,0,1-2,1.61H8.75a2,2,0,0,1-2-1.74L5.23,2.74A2,2,0,0,0,3.25,1H1&quot;
              fill=&quot;none&quot;
              stroke=&quot;#000&quot;
              stroke-linecap=&quot;round&quot;
              stroke-linejoin=&quot;round&quot;
              stroke-width=&quot;2&quot;
            /&gt;
          &lt;/svg&gt;
          &lt;span class=&quot;num-badge cart-badge&quot;&gt;10&lt;/span&gt;
        &lt;/a&gt;
        </code>
      </pre>
      <pre>
        <code class="language-markup">
          &lt;a href=&quot;#&quot; class=&quot;badge-icon&quot;&gt;
          &lt;svg
            fill=&quot;none&quot;
            height=&quot;24&quot;
            stroke=&quot;#000&quot;
            stroke-linecap=&quot;round&quot;
            stroke-linejoin=&quot;round&quot;
            stroke-width=&quot;2&quot;
            viewBox=&quot;0 0 24 24&quot;
            width=&quot;24&quot;
            xmlns=&quot;http://www.w3.org/2000/svg&quot;
          &gt;
            &lt;path
              d=&quot;M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z&quot;
            /&gt;
          &lt;/svg&gt;
          &lt;span class=&quot;num-badge wishlist-badge&quot;&gt;10&lt;/span&gt;
        &lt;/a&gt;
        </code>
      </pre>
      <pre>
        <code class="language-markup">
          &lt;a href=&quot;#&quot; class=&quot;badge-icon&quot;&gt;
          &lt;svg
            xmlns=&quot;http://www.w3.org/2000/svg&quot;
            width=&quot;24&quot;
            height=&quot;24&quot;
            viewBox=&quot;0 0 24 24&quot;
            fill=&quot;none&quot;
            stroke=&quot;currentColor&quot;
            stroke-width=&quot;2&quot;
            stroke-linecap=&quot;round&quot;
            stroke-linejoin=&quot;round&quot;
            class=&quot;feather feather-bell&quot;
          &gt;
            &lt;path d=&quot;M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9&quot;&gt;&lt;/path&gt;
            &lt;path d=&quot;M13.73 21a2 2 0 0 1-3.46 0&quot;&gt;&lt;/path&gt;
          &lt;/svg&gt;
          &lt;span class=&quot;num-badge notif-badge&quot;&gt;10&lt;/span&gt;
        &lt;/a&gt;

        </code>
      </pre>
    </div>
    <div class="avatar-container">
      <div class="avatar-display">
        <div class="avatar-comp">
          <img
            class="img-big img-utils"
            alt="avatar-large"
            src="../resources/man.svg"
            width="96"
            height="96"
          />
          <span class="avatar-badge avatar-badge-large"></span>
        </div>
        <div class="avatar-comp">
          <img
            class="img-medium img-utils"
            alt="avatar-medium"
            src="../resources/man.svg"
            width="64"
            height="64"
          />
          <span class="avatar-badge avatar-badge-medium"></span>
        </div>
        <div class="avatar-comp">
          <img
            class="img-small img-utils"
            alt="avatar-medium"
            src="../resources/man.svg"
            width="48"
            height="48"
          />
          <span class="avatar-badge avatar-badge-small"></span>
        </div>
        <div class="avatar-comp">
          <img
            class="img-ex-small img-utils"
            alt="avatar-extra-small"
            src="../resources/man.svg"
            width="32"
            height="32"
          />
          <span class="avatar-badge avatar-badge-ex-small"></span>
        </div>
      </div>
      <pre>
          <code class="language-markup"> 
        &lt;div class=&quot;avatar-comp&quot;&gt;
          &lt;img
            class=&quot;img-big img-utils&quot;
            alt=&quot;avatar-large&quot;
            src=&quot;../resources/man.svg&quot;
            width=&quot;96&quot;
            height=&quot;96&quot;
          /&gt;
          &lt;span class=&quot;avatar-badge avatar-badge-large&quot;&gt;&lt;/span&gt;
        &lt;/div&gt;
          </code>
      </pre>
      <pre>
          <code class="language-markup">
        &lt;div class=&quot;avatar-comp&quot;&gt;
          &lt;img
            class=&quot;img-medium img-utils&quot;
            alt=&quot;avatar-medium&quot;
            src=&quot;../resources/man.svg&quot;
            width=&quot;64&quot;
            height=&quot;64&quot;
          /&gt;
          &lt;span class=&quot;avatar-badge avatar-badge-medium&quot;&gt;&lt;/span&gt;
        &lt;/div&gt;
        </code>
      </pre>
      <pre>
          <code class="language-markup">
        &lt;div class=&quot;avatar-comp&quot;&gt;
          &lt;img
            class=&quot;img-small img-utils&quot;
            alt=&quot;avatar-medium&quot;
            src=&quot;../resources/man.svg&quot;
            width=&quot;48&quot;
            height=&quot;48&quot;
          /&gt;
          &lt;span class=&quot;avatar-badge avatar-badge-small&quot;&gt;&lt;/span&gt;
        &lt;/div&gt;
          </code>
      </pre>
      <pre>
          <code class="language-markup">
        &lt;div class=&quot;avatar-comp&quot;&gt;
          &lt;img
            class=&quot;img-ex-small img-utils&quot;
            alt=&quot;avatar-extra-small&quot;
            src=&quot;../resources/man.svg&quot;
            width=&quot;32&quot;
            height=&quot;32&quot;
          /&gt;
          &lt;span class=&quot;avatar-badge avatar-badge-ex-small&quot;&gt;&lt;/span&gt;
        &lt;/div&gt;
          </code>
      </pre>
    </div>
    <script src="../resources/prism.js"></script>
  </body>
</html>
