<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./cards.css" />
    <script
      src="https://kit.fontawesome.com/8abc3492d7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="cards-container">
      <div class="product-container">
        <a href="#" class="product-info">
          <img
            class="product-img"
            src="https://unsplash.it/200/300"
            alt="product"
          />Lorem ipsum <span class="price-tag">Rs. 250</span></a
        >
        <button class="wish-btn">
          <svg
            class="heart-svg"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#B9B9B9"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
            ></path>
          </svg>
        </button>
        <button class="primary-btn">ADD TO CART</button>
      </div>
      <div class="product-container">
        <button class="close-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#B9B9B9"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="svg-close"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>
        <a href="#" class="product-info">
          <img
            class="product-img"
            src="https://unsplash.it/200/300"
            alt="product"
          />Lorem ipsum <span class="price-tag">Rs. 250</span></a
        >
        <button class="wish-btn">
          <svg
            class="heart-svg"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#B9B9B9"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
            ></path>
          </svg>
        </button>
        <button class="primary-btn">ADD TO CART</button>
      </div>
      <div class="product-container">
        <a href="#" class="product-info">
          <img
            class="product-img"
            src="https://unsplash.it/200/300"
            alt="product"
          />Lorem ipsum <span class="price-tag">Rs. 250</span></a
        >
        <button class="wish-btn">
          <svg
            class="heart-svg"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#B9B9B9"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
            ></path>
          </svg>
        </button>
        <button class="primary-btn">ADD TO CART</button>
        <div class="overlay-div">
          <button class="close-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#B9B9B9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-close"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </button>
          <span class="overlay-text"> OUT OF STOCK </span>
        </div>
      </div>
      <div class="text-card">
        <h4 class="text-card-title">CARD TITLE</h4>
        <p class="text-card-info">
          I am a very simple card. I am good at containing small bits of
          information. I am convenient because I require little markup to use
          effectively.
        </p>
      </div>
      <div class="horizontal-product-container">
        <a href="#" class="product-info hcard-product-info">
          <img
            class="product-img hcard-img"
            src="https://unsplash.it/200/200"
            alt="product"
        /></a>
        <div class="second-horizontal-section">
          <h4 class="hcard-title">Lorem ipsum</h4>
          <small class="hcard-title-desc">Lorem ipsum dolor sit amet.</small>
          <span class="price-tag hcard-price">Rs. 250</span>
          <p class="hcard-product-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
            nulla. Lorem ipsum dolor sit amet.
          </p>
          <button class="primary-btn horizontal-primary-btn">
            ADD TO CART
          </button>
          <button class="wish-btn hcard-wish-btn">
            <svg
              class="heart-svg"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              hcard-wish-btn
              fill="none"
              stroke="#B9B9B9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
