<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./cards.css" />
    <script
      src="https://kit.fontawesome.com/8abc3492d7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="cards-container">
      <div class="container--border container--margin responsive--container">
        <div class="product-container center--margin">
          <a href="#" class="product-info">
            <img
              class="product-img"
              src="https://unsplash.it/200/300"
              alt="product"
            />Lorem ipsum <span class="price-tag">Rs. 250</span></a
          >
          <button class="wish-btn">
            <svg
              class="heart-svg"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#B9B9B9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
              ></path>
            </svg>
          </button>
          <button class="primary-btn">ADD TO CART</button>
        </div>
        <!-- end of the product container -->

        <pre>
        <code class="language-markup">
          &lt;a href=&quot;#&quot; class=&quot;badge-icon&quot;&gt;
          &lt;svg
            height=&quot;24&quot;
            viewBox=&quot;0 0 24 24&quot;
            width=&quot;24&quot;
            xmlns=&quot;http://www.w3.org/2000/svg&quot;
          &gt;
            &lt;circle
              cx=&quot;8&quot;
              cy=&quot;21&quot;
              fill=&quot;none&quot;
              r=&quot;2&quot;
              stroke=&quot;#000&quot;
              stroke-linecap=&quot;round&quot;
              stroke-linejoin=&quot;round&quot;
              stroke-width=&quot;2&quot;
            /&gt;
            &lt;circle
              cx=&quot;20&quot;
              cy=&quot;21&quot;
              fill=&quot;none&quot;
              r=&quot;2&quot;
              stroke=&quot;#000&quot;
              stroke-linecap=&quot;round&quot;
              stroke-linejoin=&quot;round&quot;
              stroke-width=&quot;2&quot;
            /&gt;
            &lt;path
              d=&quot;M5.67,6H23l-1.68,8.39a2,2,0,0,1-2,1.61H8.75a2,2,0,0,1-2-1.74L5.23,2.74A2,2,0,0,0,3.25,1H1&quot;
              fill=&quot;none&quot;
              stroke=&quot;#000&quot;
              stroke-linecap=&quot;round&quot;
              stroke-linejoin=&quot;round&quot;
              stroke-width=&quot;2&quot;
            /&gt;
          &lt;/svg&gt;
          &lt;span class=&quot;num-badge cart-badge&quot;&gt;10&lt;/span&gt;
        &lt;/a&gt;
        </code>
      </pre>
      </div>
      <!-- end of the product container with margin and border -->
      <div class="container--border container--margin responsive--container">
        <div class="product-container">
          <button class="close-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#B9B9B9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="svg-close"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </button>
          <a href="#" class="product-info">
            <img
              class="product-img"
              src="https://unsplash.it/200/300"
              alt="product"
            />Lorem ipsum <span class="price-tag">Rs. 250</span></a
          >
          <button class="wish-btn">
            <svg
              class="heart-svg"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#B9B9B9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
              ></path>
            </svg>
          </button>
          <button class="primary-btn">ADD TO CART</button>
        </div>
        <!-- end of the product container with wish and close button -->
        <pre>
          <code class="language-markup">
        &lt;div class=&quot;product-container&quot;&gt;
          &lt;button class=&quot;close-btn&quot;&gt;
            &lt;svg
              xmlns=&quot;http://www.w3.org/2000/svg&quot;
              width=&quot;24&quot;
              height=&quot;24&quot;
              viewBox=&quot;0 0 24 24&quot;
              fill=&quot;none&quot;
              stroke=&quot;#B9B9B9&quot;
              stroke-width=&quot;2&quot;
              stroke-linecap=&quot;round&quot;
              stroke-linejoin=&quot;round&quot;
              class=&quot;svg-close&quot;
            &gt;
              &lt;line x1=&quot;18&quot; y1=&quot;6&quot; x2=&quot;6&quot; y2=&quot;18&quot;&gt;&lt;/line&gt;
              &lt;line x1=&quot;6&quot; y1=&quot;6&quot; x2=&quot;18&quot; y2=&quot;18&quot;&gt;&lt;/line&gt;
            &lt;/svg&gt;
          &lt;/button&gt;
          &lt;a href=&quot;#&quot; class=&quot;product-info&quot;&gt;
            &lt;img
              class=&quot;product-img&quot;
              src=&quot;https://unsplash.it/200/300&quot;
              alt=&quot;product&quot;
            /&gt;Lorem ipsum &lt;span class=&quot;price-tag&quot;&gt;Rs. 250&lt;/span&gt;&lt;/a
          &gt;
          &lt;button class=&quot;wish-btn&quot;&gt;
            &lt;svg
              class=&quot;heart-svg&quot;
              xmlns=&quot;http://www.w3.org/2000/svg&quot;
              width=&quot;24&quot;
              height=&quot;24&quot;
              viewBox=&quot;0 0 24 24&quot;
              fill=&quot;none&quot;
              stroke=&quot;#B9B9B9&quot;
              stroke-width=&quot;2&quot;
              stroke-linecap=&quot;round&quot;
              stroke-linejoin=&quot;round&quot;
            &gt;
              &lt;path
                d=&quot;M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z&quot;
              &gt;&lt;/path&gt;
            &lt;/svg&gt;
          &lt;/button&gt;
          &lt;button class=&quot;primary-btn&quot;&gt;ADD TO CART&lt;/button&gt;
        &lt;/div&gt;

          </code>
        </pre>
      </div>
      <!-- end of the product container with buttons -->
      <div class="container--border container--margin responsive--container">
        <div class="product-container">
          <a href="#" class="product-info">
            <img
              class="product-img"
              src="https://unsplash.it/200/300"
              alt="product"
            />Lorem ipsum <span class="price-tag">Rs. 250</span></a
          >
          <button class="wish-btn">
            <svg
              class="heart-svg"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#B9B9B9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
              ></path>
            </svg>
          </button>
          <button class="primary-btn">ADD TO CART</button>
          <div class="overlay-div">
            <button class="close-btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#B9B9B9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="svg-close"
              >
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
            </button>
            <span class="overlay-text"> OUT OF STOCK </span>
          </div>
        </div>
        <pre>
          <code class="language-markup">
        &lt;div class=&quot;product-container&quot;&gt;
          &lt;a href=&quot;#&quot; class=&quot;product-info&quot;&gt;
            &lt;img
              class=&quot;product-img&quot;
              src=&quot;https://unsplash.it/200/300&quot;
              alt=&quot;product&quot;
            /&gt;Lorem ipsum &lt;span class=&quot;price-tag&quot;&gt;Rs. 250&lt;/span&gt;&lt;/a
          &gt;
          &lt;button class=&quot;wish-btn&quot;&gt;
            &lt;svg
              class=&quot;heart-svg&quot;
              xmlns=&quot;http://www.w3.org/2000/svg&quot;
              width=&quot;24&quot;
              height=&quot;24&quot;
              viewBox=&quot;0 0 24 24&quot;
              fill=&quot;none&quot;
              stroke=&quot;#B9B9B9&quot;
              stroke-width=&quot;2&quot;
              stroke-linecap=&quot;round&quot;
              stroke-linejoin=&quot;round&quot;
            &gt;
              &lt;path
                d=&quot;M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z&quot;
              &gt;&lt;/path&gt;
            &lt;/svg&gt;
          &lt;/button&gt;
          &lt;button class=&quot;primary-btn&quot;&gt;ADD TO CART&lt;/button&gt;
          &lt;div class=&quot;overlay-div&quot;&gt;
            &lt;button class=&quot;close-btn&quot;&gt;
              &lt;svg
                xmlns=&quot;http://www.w3.org/2000/svg&quot;
                width=&quot;24&quot;
                height=&quot;24&quot;
                viewBox=&quot;0 0 24 24&quot;
                fill=&quot;none&quot;
                stroke=&quot;#B9B9B9&quot;
                stroke-width=&quot;2&quot;
                stroke-linecap=&quot;round&quot;
                stroke-linejoin=&quot;round&quot;
                class=&quot;svg-close&quot;
              &gt;
                &lt;line x1=&quot;18&quot; y1=&quot;6&quot; x2=&quot;6&quot; y2=&quot;18&quot;&gt;&lt;/line&gt;
                &lt;line x1=&quot;6&quot; y1=&quot;6&quot; x2=&quot;18&quot; y2=&quot;18&quot;&gt;&lt;/line&gt;
              &lt;/svg&gt;
            &lt;/button&gt;
            &lt;span class=&quot;overlay-text&quot;&gt; OUT OF STOCK &lt;/span&gt;
          &lt;/div&gt;
        &lt;/div&gt;
          </code>
        </pre>
        <!-- end of the product container with overlay-->
      </div>
      <!-- end of the product container with overlay with border and margin-->
      <div class="container--margin container--border responsive--container">
        <div class="text-card center--margin">
          <h4 class="text-card-title">CARD TITLE</h4>
          <p class="text-card-info">
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively.
          </p>
        </div>
        <!-- end of the text card -->
        <pre>
          <code class="language-markup">
        &lt;div class=&quot;text-card&quot;&gt;
          &lt;h4 class=&quot;text-card-title&quot;&gt;---card title---&lt;/h4&gt;
          &lt;p class=&quot;text-card-info&quot;&gt;
            --- enter your text here ---
          &lt;/p&gt;
        &lt;/div&gt;

          </code>
        </pre>
      </div>
      <!-- end of the text card with margin and border -->
      <div class="container--border container--margin responsive--container">
        <div class="horizontal-product-container center--margin">
          <a href="#" class="product-info hcard-product-info">
            <img
              class="product-img hcard-img"
              src="https://source.unsplash.com/random/"
              alt="product"
          /></a>
          <div class="second-horizontal-section">
            <div class="hsection_info">
              <h4 class="hcard-title">Lorem ipsum</h4>
              <small class="hcard-title-desc"
                >Lorem ipsum dolor sit amet.</small
              >
              <span class="price-tag hcard-price">Rs. 250</span>
              <p class="hcard-product-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo, nulla. Lorem ipsum dolor sit amet.
              </p>
            </div>
            <button class="primary-btn horizontal-primary-btn">
              ADD TO CART
            </button>
            <button class="wish-btn hcard-wish-btn">
              <svg
                class="heart-svg"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                hcard-wish-btn
                fill="none"
                stroke="#B9B9B9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <!-- end of the horizontal card -->
        <pre>
          <code class="language-markup">
        &lt;div class=&quot;horizontal-product-container&quot;&gt;
          &lt;a href=&quot;#&quot; class=&quot;product-info hcard-product-info&quot;&gt;
            &lt;img
              class=&quot;product-img hcard-img&quot;
              src=&quot;https://source.unsplash.com/random/&quot;
              alt=&quot;product&quot;
          /&gt;&lt;/a&gt;
          &lt;div class=&quot;second-horizontal-section&quot;&gt;
            &lt;div class=&quot;hsection_info&quot;&gt;
              &lt;h4 class=&quot;hcard-title&quot;&gt;Lorem ipsum&lt;/h4&gt;
              &lt;small class=&quot;hcard-title-desc&quot;
                &gt;Lorem ipsum dolor sit amet.&lt;/small
              &gt;
              &lt;span class=&quot;price-tag hcard-price&quot;&gt;Rs. 250&lt;/span&gt;
              &lt;p class=&quot;hcard-product-desc&quot;&gt;
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo, nulla. Lorem ipsum dolor sit amet.
              &lt;/p&gt;
            &lt;/div&gt;
            &lt;button class=&quot;primary-btn horizontal-primary-btn&quot;&gt;
              ADD TO CART
            &lt;/button&gt;
            &lt;button class=&quot;wish-btn hcard-wish-btn&quot;&gt;
              &lt;svg
                class=&quot;heart-svg&quot;
                xmlns=&quot;http://www.w3.org/2000/svg&quot;
                width=&quot;24&quot;
                height=&quot;24&quot;
                viewBox=&quot;0 0 24 24&quot;
                hcard-wish-btn
                fill=&quot;none&quot;
                stroke=&quot;#B9B9B9&quot;
                stroke-width=&quot;2&quot;
                stroke-linecap=&quot;round&quot;
                stroke-linejoin=&quot;round&quot;
              &gt;
                &lt;path
                  d=&quot;M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z&quot;
                &gt;&lt;/path&gt;
              &lt;/svg&gt;
            &lt;/button&gt;
          &lt;/div&gt;
        &lt;/div&gt;
 
          </code>
      </pre>
      </div>
      <!-- end of the horizontal card with margin and border -->
      <div class="container--margin container--border responsive--container">
        <div class="shadow_card center--margin">
          <a href="#" class="shadow_card__productimgLink">
            <img
              class="shadow_card--img shadow_card__productimg"
              src="https://source.unsplash.com/random"
              alt="product"
            />
          </a>
          <div class="shadow_card__product-info">
            <div class="shadow_card__product-header">
              <h3 class="shadow_card__product-title">Lorem ipsum dolor sit</h3>
              <small class="font-family"
                >Lorem ipsum dolor sit amet consectetur adipisicing.</small
              >
            </div>
            <div class="shadow_card__product-rating">
              <span class="shadow_card__product-rating__title font-family"
                >RATING</span
              >
              <svg
                height="16"
                viewBox="0 -10 511.98685 511"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0"
                  fill="#ffc107"
                />
              </svg>
              <svg
                height="16"
                viewBox="0 -10 511.98685 511"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0"
                  fill="#ffc107"
                />
              </svg>
              <svg
                height="16"
                viewBox="0 -10 511.98685 511"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0"
                  fill="#ffc107"
                />
              </svg>
              <svg
                height="16"
                viewBox="0 -10 511.98685 511"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0"
                  fill="#ffc107"
                />
              </svg>
              <svg
                height="16"
                viewBox="0 -10 511.98685 511"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0"
                  fill="#ffc107"
                />
              </svg>
            </div>
            <button class="primary-btn shadow_card--btn">ADD TO CART</button>
            <button class="shadow_card--wishbtn">
              <svg
                class="heart-svg"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#B9B9B9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <!-- end of the shadow card -->
        <pre>
          <code class="language-markup">
        &lt;div class=&quot;shadow_card&quot;&gt;
          &lt;a href=&quot;#&quot; class=&quot;shadow_card__productimgLink&quot;&gt;
            &lt;img
              class=&quot;shadow_card--img shadow_card__productimg&quot;
              src=&quot;https://source.unsplash.com/random&quot;
              alt=&quot;product&quot;
            /&gt;
          &lt;/a&gt;
          &lt;div class=&quot;shadow_card__product-info&quot;&gt;
            &lt;div class=&quot;shadow_card__product-header&quot;&gt;
              &lt;h3 class=&quot;shadow_card__product-title&quot;&gt;Lorem ipsum dolor sit&lt;/h3&gt;
              &lt;small class=&quot;font-family&quot;
                &gt;Lorem ipsum dolor sit amet consectetur adipisicing.&lt;/small
              &gt;
            &lt;/div&gt;
            &lt;div class=&quot;shadow_card__product-rating&quot;&gt;
              &lt;span class=&quot;shadow_card__product-rating__title font-family&quot;
                &gt;RATING&lt;/span
              &gt;
              &lt;svg
                height=&quot;16&quot;
                viewBox=&quot;0 -10 511.98685 511&quot;
                width=&quot;16&quot;
                xmlns=&quot;http://www.w3.org/2000/svg&quot;
              &gt;
                &lt;path
                  d=&quot;m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0&quot;
                  fill=&quot;#ffc107&quot;
                /&gt;
              &lt;/svg&gt;
              &lt;svg
                height=&quot;16&quot;
                viewBox=&quot;0 -10 511.98685 511&quot;
                width=&quot;16&quot;
                xmlns=&quot;http://www.w3.org/2000/svg&quot;
              &gt;
                &lt;path
                  d=&quot;m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0&quot;
                  fill=&quot;#ffc107&quot;
                /&gt;
              &lt;/svg&gt;
              &lt;svg
                height=&quot;16&quot;
                viewBox=&quot;0 -10 511.98685 511&quot;
                width=&quot;16&quot;
                xmlns=&quot;http://www.w3.org/2000/svg&quot;
              &gt;
                &lt;path
                  d=&quot;m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0&quot;
                  fill=&quot;#ffc107&quot;
                /&gt;
              &lt;/svg&gt;
              &lt;svg
                height=&quot;16&quot;
                viewBox=&quot;0 -10 511.98685 511&quot;
                width=&quot;16&quot;
                xmlns=&quot;http://www.w3.org/2000/svg&quot;
              &gt;
                &lt;path
                  d=&quot;m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0&quot;
                  fill=&quot;#ffc107&quot;
                /&gt;
              &lt;/svg&gt;
              &lt;svg
                height=&quot;16&quot;
                viewBox=&quot;0 -10 511.98685 511&quot;
                width=&quot;16&quot;
                xmlns=&quot;http://www.w3.org/2000/svg&quot;
              &gt;
                &lt;path
                  d=&quot;m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0&quot;
                  fill=&quot;#ffc107&quot;
                /&gt;
              &lt;/svg&gt;
            &lt;/div&gt;
            &lt;button class=&quot;primary-btn shadow_card--btn&quot;&gt;ADD TO CART&lt;/button&gt;
            &lt;button class=&quot;shadow_card--wishbtn&quot;&gt;
              &lt;svg
                class=&quot;heart-svg&quot;
                xmlns=&quot;http://www.w3.org/2000/svg&quot;
                width=&quot;24&quot;
                height=&quot;24&quot;
                viewBox=&quot;0 0 24 24&quot;
                fill=&quot;none&quot;
                stroke=&quot;#B9B9B9&quot;
                stroke-width=&quot;2&quot;
                stroke-linecap=&quot;round&quot;
                stroke-linejoin=&quot;round&quot;
              &gt;
                &lt;path
                  d=&quot;M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z&quot;
                &gt;&lt;/path&gt;
              &lt;/svg&gt;
            &lt;/button&gt;
          &lt;/div&gt;
        &lt;/div&gt;
          </code>
        </pre>
      </div>
      <!-- end of the shadow card with border and margin -->
    </div>
    <!-- end of the card container -->
    <script src="../resources/prism.js"></script>
  </body>
</html>
