@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("../resources/prism.css");
@import url("./utils.css");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #111827;
  --secondary-color: white;
  --border-color: #e5e5e5;
  --primary-font: Lato;
  --wish-svg-stroke: #f16565;
  --close-svg-stroke: #e84545;
}
.cards-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center; */
  width: 100%;
  /* justify-content: space-evenly; */
}

.product-container {
  display: flex;
  flex-direction: column;

  max-width: 13rem;

  font-family: Lato;
  font-weight: bolder;

  position: relative;

  margin: auto; /* remove this while giving to user */

  /* padding: 1rem; */
}

.wish-btn {
  display: inline-block;

  align-self: flex-end;

  width: fit-content;

  padding: 0;

  background-color: transparent;
  border: 0;
  outline: 0;

  position: absolute;
  bottom: 6.8rem;
  right: 0.5rem;
}

.heart-svg:hover {
  stroke: var(--wish-svg-stroke);
}

.close-btn {
  display: inline-block;

  width: fit-content;

  padding: 0;

  background-color: transparent;
  border: 0;
  outline: 0;

  position: absolute;
  top: 0.5rem;
  left: 0.2rem;
}

.svg-close:hover {
  stroke: var(--close-svg-stroke);
}

.product-info {
  text-decoration: none;

  color: var(--primary-color);
  font-size: 1.2rem;

  margin: 5px 0;
}
.primary-btn {
  background-color: #fff;

  border: 1.8px solid var(--primary-color);

  padding: 0.6rem;

  font-family: Lato;
  font-weight: 900;

  outline: none;
}

.primary-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.price-tag {
  display: block;

  margin: 3px 0;

  font-size: 1rem;

  font-weight: normal;
}

.overlay-div {
  background: rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;

  width: 100%;
  height: 100%;

  position: absolute;
}

.overlay-text {
  position: absolute;

  height: fit-content;

  color: var(--primary-color);

  top: 8rem;
}

/* text card */

.text-card {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;

  color: var(--secondary-color);

  max-width: 20rem;
  /* max-height: 9rem; */

  background-color: var(--primary-color);
}

.text-card-title {
  font-family: Lato;

  margin: 0;

  padding: 0.5rem 0;

  border-bottom: 1px solid var(--primary-color);
}

.text-card-info {
  margin: 0.5rem 0;

  font-family: Lato;
}

/* horizontal card  */

.horizontal-product-container {
  display: flex;

  font-family: Lato;
  font-weight: bolder;

  position: relative;

  height: 20rem;

  width: 40rem;

  padding: 2rem;
  border: 1px solid var(--primary-color);
}

.hcard-product-info {
  display: block;
  /* height: 100%; */
  width: 40%;
  margin: 0;
}

.second-horizontal-section {
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  justify-content: space-between;
  padding: 0 0 0 2rem;
  flex-shrink: 2;
  /* border: 1px solid black; */
  border-left: 0;
  width: 60%;
}

.hcard-title {
  margin: 0;
}

.hcard-img {
  height: 100%;
  object-fit: cover !important;
}

.hcard-title-desc {
  font-weight: 100;
}

.hcard-price {
  margin: 0.5rem 0;
}

.horizontal-primary-btn {
  display: inline-block;
  font-size: 0.7rem;
  width: 10rem;
}

.hcard-product-desc {
  margin: 0.3rem 0;
  font-weight: 200;
  font-size: 1rem;
}

.hcard-wish-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  bottom: 0;
  height: fit-content;
}

/* shadow card */

.shadow_card {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  /* padding: 1rem; */
  height: 30rem;
  border-radius: 1rem;
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); */
  width: 20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow_card__productimgLink {
  /* display: block; */
  margin: 0;
  height: 50%;
}

.shadow_card__productimg {
  display: block;
  /* height: 100%; */
}

.shadow_card__product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1rem;
  height: 50%;
  position: relative;
}

.shadow_card__product-title {
  margin: 0;

  font-family: var(--primary-font);
}

.shadow_card__product-rating__title {
  display: block;
  font-weight: 700;
}

.shadow_card--wishbtn {
  display: inline-block;

  align-self: flex-end;

  width: fit-content;

  padding: 0;

  background-color: transparent;
  border: 0;
  outline: 0;

  position: absolute;

  top: 1rem;
  right: 1rem;
}

/* utility */

.product-img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.distance-margin {
  margin: 2rem;
}

.font-family {
  font-family: var(--primary-font);
}

/* .align-center {
  /* text-align: center; */

/* .cards-container {
  display: flex;
  justify-content: center;
  margin: auto;
} */

/* media queries */

@media screen and (max-width: 620px) {
  .distance-margin {
    margin: 0.5rem;
  }
  /* horizontal card */
  .horizontal-product-container {
    margin: 0.5rem;
    /* width: 25rem; */
    width: 90%;
    height: 11rem;
    padding: 1rem;
  }

  .hcard-product-desc {
    display: none;
  }

  .hcard-product-info {
    width: 35%;
  }

  .horizontal-primary-btn {
    width: 100%;
    height: 30%;
  }

  .second-horizontal-section {
    justify-content: space-between;
    padding-left: 1rem;
  }

  .hcard-wish-btn {
    top: 1rem;
    right: 1rem;
  }

  .primary-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

  .heart-svg {
    stroke: var(--wish-svg-stroke);
  }

  .svg-close {
    stroke: var(--close-svg-stroke);
  }
}
