@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: Lato;
  --font-weight: 600;
  --primary-color: #111827;
  --secondary-color: #fff;
  --border-color: #e5e5e5;

  --button-radius: 0.3rem;
  --twitter-color: #1da1f2;
  --facebook-color: #385898;
  --github-color: #24292e;
  --button-margin: 0.5rem;
  --button-padding: 0.6rem;
  --button-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  --success-alert-backcolor: #c6f4d5;
  --success-alert-fontcolor: #3bb54a;
  --error-alert-backcolor: #fdd7d7;
  --error-alert-fontcolor: #d1403f;
  --warning-alert-backcolor: #feebc8;
  --warning-alert-fontcolor: #f0c419;
  --info-alert-backcolor: #bee3f8;
  --info-alert-fontcolor: #447eae;
  --alert-font-size: 1.3rem;
  --alert-icon-margin-right: 1rem;
  --alert-padding: 1rem;
  --presence-color: #3aa169;
  --badge-border-color: #fff;
  --wish-svg-stroke: #f16565;
  --close-svg-stroke: #e84545;
}

/* utility */

.container--border {
  border: 1px solid var(--border-color);
  padding: 1rem 0 0rem 0;
}

.container--margin {
  margin-bottom: 1rem;
}

.flex--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.responsive--container {
  width: 100%;
}

.center--margin {
  margin: 0 auto;
}

/* Avatar */

.avatar {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.avatar-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  padding: 1rem;
  border-bottom: 0;
}

.img-big {
  max-width: 96px;
}

.img-medium {
  max-width: 64px;
}

.img-small {
  max-width: 48px;
}

.img-ex-small {
  max-width: 32px;
}

/* avatar - utils */

.img-utils {
  margin: 1.7rem;
  width: 100%;
  border-radius: 50%;
}
