* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: Lato;
  --font-weight: 600;
  --primary-color: #111827;
  --secondary-color: #fff;
  --border-color: #e5e5e5;
  --button-radius: 0.3rem;
  --twitter-color: #1da1f2;
  --facebook-color: #385898;
  --github-color: #24292e;
  --button-margin: 0.5rem;
  --button-padding: 0.6rem;
  --button-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --success-alert-backcolor: #c6f4d5;
  --success-alert-fontcolor: #3bb54a;
  --error-alert-backcolor: #fdd7d7;
  --error-alert-fontcolor: #d1403f;
  --warning-alert-backcolor: #feebc8;
  --warning-alert-fontcolor: #f0c419;
  --info-alert-backcolor: #bee3f8;
  --info-alert-fontcolor: #447eae;
  --alert-font-size: 1.3rem;
  --alert-icon-margin-right: 1rem;
  --alert-padding: 1rem;
  --presence-color: #3aa169;
  --badge-border-color: #fff;
  --wish-svg-stroke: #f16565;
  --close-svg-stroke: #e84545;
}

/*-------------------- Avatar ---------------------*/

.avatar {
  display: flex;
  /* padding: 1rem; */
  /* border: 1px solid black; */
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.avatar-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  padding: 1rem;
  border-bottom: 0;
}

.img-big {
  max-width: 96px;
}

.img-medium {
  max-width: 64px;
}

.img-small {
  max-width: 48px;
}

.img-ex-small {
  max-width: 32px;
}

/* utils */

.img-utils {
  margin: 1.7rem;
  width: 100%;
  border-radius: 50%;
}

/*-------------------- alerts css ------------------*/

.alerts {
  width: 100%;
}

.alerts--common {
  display: flex;
  align-items: center;
  padding: var(--alert-padding);

  font-size: var(--alert-font-size);
  font-family: var(--primary-font);

  border-radius: 0.5rem;
}

.alerts--margin--common {
  margin-right: var(--alert-icon-margin-right);
}

.alerts__success {
  background-color: var(--success-alert-backcolor);
  color: var(--success-alert-fontcolor);
}

.alerts__error {
  background-color: var(--error-alert-backcolor);
  color: var(--error-alert-fontcolor);
}

.alerts__warning {
  background-color: var(--warning-alert-backcolor);
  color: var(--warning-alert-fontcolor);
}

.alerts__info {
  background-color: var(--info-alert-backcolor);
  color: var(--info-alert-fontcolor);
}

.alerts .language-markup {
  height: 10rem;
}

/* buttons css */

/* primary button */
.button__primary {
  background-color: var(--secondary-color);

  color: var(--primary-color);

  border: 1.8px solid var(--primary-color);

  padding: var(--button-padding);

  margin: var(--button-margin);

  font-family: var(--primary-font);
  font-weight: var(--font-weight);

  outline: var(--primary-color);

  cursor: pointer;
}
/* secondary button */
.button__secondary {
  background-color: var(--primary-color);

  color: var(--secondary-color);

  border: 1.8px solid var(--primary-color);

  padding: var(--button-padding);

  margin: var(--button-margin);

  font-family: var(--primary-font);
  font-weight: var(--font-weight);

  cursor: pointer;

  outline: var(--primary-color);
  box-shadow: var(--button-shadow);
}

/* round button utility */

.button--round {
  border-radius: var(--button-radius);
}

/* Link Button */

.button__link-button {
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--button-padding);

  margin: var(--button-margin);

  background-color: var(--primary-color);

  color: var(--secondary-color);

  border: 1px solid var(--primary-color);

  font-family: var(--primary-font);
  font-weight: var(--font-weight);

  max-width: max-content;

  box-shadow: var(--button-shadow);
}

.svg--right-margin {
  margin-right: 0.3rem;
}

/* icon button */
.icon__button {
  outline: var(--primary-color);

  /* border: 1px solid var(--primary-color); */

  background-color: var(--secondary-color);

  border: 0;

  /* color: var(--secondary-color); */

  padding: var(--button-padding);

  box-shadow: var(--button-shadow);

  margin: var(--button-margin);
}

/* floating button */
.floating__button {
  outline: var(--primary-color);

  background-color: var(--primary-color);

  border: 0;

  padding: var(--button-padding);

  display: flex;
  justify-content: center;

  box-shadow: var(--button-shadow);

  margin: var(--button-margin);

  border-radius: 50%;
}

/* utilities for twitter, facebook and github buttons */
.twitter--btn {
  background-color: var(--twitter-color);
  color: var(--secondary-color);

  border: 1px solid var(--twitter-color);
}

.facebook--btn {
  background-color: var(--facebook-color);
  color: var(--secondary-color);

  border: 1px solid var(--facebook-color);
}

.github--btn {
  background-color: var(--github-color);
  color: var(--secondary-color);

  border: 1px solid var(--github-color);
}

.button__container .toolbar {
  right: 1rem;
}

/*------------------------- Badges ----------------------------*/

.badge-icon-container,
.avatar-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-bottom: 0;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.product-container {
  display: flex;
  flex-direction: column;

  max-width: 13rem;

  font-family: var(--primary-font);
  font-weight: bolder;

  position: relative;

  padding: 1rem;

  /* padding: 1rem; */
  box-shadow: var(--shadow);
}

.wish-btn {
  display: inline-block;

  align-self: flex-end;

  width: fit-content;

  padding: 0;

  background-color: transparent;
  border: 0;
  outline: 0;

  position: absolute;
  bottom: 7.5rem;
  right: 1.3rem;
}

.heart-svg:hover {
  stroke: var(--wish-svg-stroke);
}

.close-btn {
  display: inline-block;

  width: fit-content;

  padding: 0;

  background-color: transparent;
  border: 0;
  outline: 0;

  position: absolute;
  top: 1.4rem;
  left: 1rem;
}

.svg-close:hover {
  stroke: var(--close-svg-stroke);
}

.product-info {
  text-decoration: none;

  color: var(--primary-color);
  font-size: 1.2rem;

  margin: 5px 0;
}
.primary-btn {
  background-color: var(--secondary-color);

  border: 1.8px solid var(--primary-color);

  padding: 0.6rem;

  font-family: var(--primary-font);
  font-weight: 900;

  border-radius: 0.3rem;
  outline: var(--primary-color);
}

.primary-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.price-tag {
  display: block;

  margin: 3px 0;

  font-size: 1rem;

  font-weight: normal;
}

.overlay-div {
  background: rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.overlay-text {
  position: absolute;

  height: fit-content;

  color: var(--primary-color);

  top: 8rem;
}

/* text card */

.text-card {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;

  color: var(--secondary-color);

  max-width: 20rem;
  /* max-height: 9rem; */

  background-color: var(--primary-color);
}

.text-card-title {
  font-family: var(--primary-font);

  margin: 0;

  padding: 0.5rem 0;

  border-bottom: 1px solid var(--primary-color);
}

.text-card-info {
  margin: 0.5rem 0;

  font-family: var(--primary-font);
}

/* horizontal card  */

.horizontal-product-container {
  display: flex;

  font-family: var(--primary-font);
  font-weight: bolder;

  position: relative;

  height: 20rem;

  width: 80%;

  box-shadow: var(--shadow);

  padding: 2rem;
  border: 1px solid var(--primary-color);
}

.hcard-product-info {
  display: block;
  /* height: 100%; */
  width: 40%;
  margin: 0;
}

.second-horizontal-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 0 0 2rem;
  flex-shrink: 2;

  border-left: 0;
  width: 60%;
}

.hcard-title {
  margin: 0;
}

.hcard-img {
  height: 100%;
  object-fit: cover !important;
}

.hcard-title-desc {
  font-weight: 100;
}

.hcard-price {
  margin: 0.5rem 0;
}

.horizontal-primary-btn {
  display: inline-block;

  font-size: 0.7rem;

  width: 10rem;
}

.hcard-product-desc {
  margin: 0.3rem 0;

  font-weight: 200;
  font-size: 1rem;
}

.hcard-wish-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: fit-content;
  height: 1.5rem;
}

/* shadow card */

.shadow_card {
  display: flex;
  flex-direction: column;

  height: 30rem;

  border-radius: 1rem;
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12); */

  width: 20rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow_card__productimgLink {
  /* display: block; */
  margin: 0;
  height: 50%;
}

.shadow_card__productimg {
  display: block;
  /* height: 100%; */
}

.shadow_card__product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--secondary-color);
  color: var(--primary-color);

  padding: 1rem;

  height: 50%;

  position: relative;
}

.shadow_card__product-title {
  margin: 0;

  font-family: var(--primary-font);
}

.shadow_card__product-rating__title {
  display: block;

  font-weight: 700;
}

.shadow_card--wishbtn {
  display: inline-block;

  align-self: flex-end;

  width: fit-content;

  padding: 0;

  background-color: transparent;
  border: 0;
  outline: 0;

  position: absolute;

  top: 1rem;
  right: 1rem;
}

/* utility */

.product-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.shadow_card--img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.distance-margin {
  margin: 2rem;
}

.font-family {
  font-family: var(--primary-font);
}

/*------------------- Badge ------------------*/

.badge-div {
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.badge-icon {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 2rem;
  border-radius: 50%;
  color: #111827;
}

.num-badge {
  position: absolute;
  background-color: #f16565;
  color: white;
  padding: 0.2rem;
  border: 2px solid white;
  border-radius: 60%;
  font-family: var(--primary-font);
  font-size: 0.8rem;
  font-weight: 600;
  bottom: 2.8rem;
  right: 1rem;
}

.cart-badge {
  background-color: #f16565;
  color: white;
}

.notif-badge {
  background-color: #2a77f0;
}

.avatar-container .avatar-display {
  display: flex;
  align-items: center;
}

/* avatar component */

.avatar-comp {
  position: relative;
  margin: 1rem;
}

.avatar-badge {
  position: absolute;
  display: inline-block;
  min-width: 1rem;
  min-height: 1rem;
  background-color: var(--presence-color);
  border-radius: 50%;
  border: 2px solid var(--badge-border-color);
  bottom: 0;
  right: 0;
}

.avatar-badge-large {
  min-height: 1.8rem;
  min-width: 1.8rem;
  bottom: 1rem;
}

.avatar-badge-medium {
  min-height: 1.3rem;
  min-width: 1.3rem;
  right: 2.8rem;
}

.avatar-badge-small {
  right: 3.4rem;
}

.avatar-badge-ex-small {
  min-height: 0.7rem;
  min-width: 0.7em;
  right: 3.9rem;
}

.badge-icon-container .avatar-display {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  /* justify-content: center; */
}

.img-utils {
  width: 100%;
  border-radius: 50%;
}

.product-container {
  display: flex;
  flex-direction: column;

  max-width: 13rem;

  font-family: var(--primary-font);
  font-weight: bolder;

  position: relative;

  padding: 1rem;

  /* padding: 1rem; */
  box-shadow: var(--shadow);
}

.wish-btn {
  display: inline-block;

  align-self: flex-end;

  width: fit-content;

  padding: 0;

  background-color: transparent;
  border: 0;
  outline: 0;

  position: absolute;
  bottom: 7.5rem;
  right: 1.3rem;
}

.heart-svg:hover {
  stroke: var(--wish-svg-stroke);
}

.close-btn {
  display: inline-block;

  width: fit-content;

  padding: 0;

  background-color: transparent;
  border: 0;
  outline: 0;

  position: absolute;
  top: 1.4rem;
  left: 1rem;
}

.svg-close:hover {
  stroke: var(--close-svg-stroke);
}

.product-info {
  text-decoration: none;

  color: var(--primary-color);
  font-size: 1.2rem;

  margin: 5px 0;
}
.primary-btn {
  background-color: var(--secondary-color);

  border: 1.8px solid var(--primary-color);

  padding: 0.6rem;

  font-family: var(--primary-font);
  font-weight: 900;

  border-radius: 0.3rem;
  outline: var(--primary-color);
}

.primary-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.price-tag {
  display: block;

  margin: 3px 0;

  font-size: 1rem;

  font-weight: normal;
}

.overlay-div {
  background: rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.overlay-text {
  position: absolute;

  height: fit-content;

  color: var(--primary-color);

  top: 8rem;
}

/* text card */

.text-card {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;

  color: var(--secondary-color);

  max-width: 20rem;
  /* max-height: 9rem; */

  background-color: var(--primary-color);
}

.text-card-title {
  font-family: var(--primary-font);

  margin: 0;

  padding: 0.5rem 0;

  border-bottom: 1px solid var(--primary-color);
}

.text-card-info {
  margin: 0.5rem 0;

  font-family: var(--primary-font);
}

/* horizontal card  */

.horizontal-product-container {
  display: flex;

  font-family: var(--primary-font);
  font-weight: bolder;

  position: relative;

  height: 20rem;

  width: 80%;

  box-shadow: var(--shadow);

  padding: 2rem;
  border: 1px solid var(--primary-color);
}

.hcard-product-info {
  display: block;
  /* height: 100%; */
  width: 40%;
  margin: 0;
}

.second-horizontal-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 0 0 2rem;
  flex-shrink: 2;

  border-left: 0;
  width: 60%;
}

.hcard-title {
  margin: 0;
}

.hcard-img {
  height: 100%;
  object-fit: cover !important;
}

.hcard-title-desc {
  font-weight: 100;
}

.hcard-price {
  margin: 0.5rem 0;
}

.horizontal-primary-btn {
  display: inline-block;

  font-size: 0.7rem;

  width: 10rem;
}

.hcard-product-desc {
  margin: 0.3rem 0;

  font-weight: 200;
  font-size: 1rem;
}

.hcard-wish-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;

  width: fit-content;

  height: 1.5rem;
}

/* shadow card */

.shadow_card {
  display: flex;
  flex-direction: column;

  height: 30rem;

  border-radius: 1rem;

  width: 20rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow_card__productimgLink {
  /* display: block; */
  margin: 0;
  height: 50%;
}

.shadow_card__productimg {
  display: block;
  /* height: 100%; */
}

.shadow_card__product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--secondary-color);
  color: var(--primary-color);

  padding: 1rem;

  height: 50%;

  position: relative;
}

.shadow_card__product-title {
  margin: 0;

  font-family: var(--primary-font);
}

.shadow_card__product-rating__title {
  display: block;

  font-weight: 700;
}

.shadow_card--wishbtn {
  display: inline-block;

  align-self: flex-end;

  width: fit-content;

  padding: 0;

  background-color: transparent;
  border: 0;
  outline: 0;

  position: absolute;

  top: 1rem;
  right: 1rem;
}

/* utility */

.product-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.shadow_card--img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.distance-margin {
  margin: 2rem;
}

.font-family {
  font-family: var(--primary-font);
}

/*----------------------- Image -------------------*/

.img-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 1rem; */
}

.img-container__simple-img,
.img-container__round-img {
  width: 100%;
  height: 25rem;
  margin: auto;
}

.responsive-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.img-round {
  border-radius: 50%;
}

.img-container--border {
  border: 1px solid var(--border-color);
  padding: 1rem 0 0 0;
}

.img-container--margin {
  margin-bottom: 1rem;
}

/* media queries */

@media screen and (max-width: 780px) {
  .distance-margin {
    margin: 0.5rem;
  }
  /* horizontal card */
  .horizontal-product-container {
    margin: 0.5rem;

    width: 90%;

    height: 11rem;

    padding: 1rem;
  }

  .hcard-product-desc {
    display: none;
  }

  .hcard-product-info {
    width: 35%;
  }

  .horizontal-primary-btn {
    width: 80%;
    height: 25%;
  }

  .second-horizontal-section {
    justify-content: space-around;
    padding-left: 1rem;
  }

  .hcard-wish-btn {
    top: 1rem;
    right: 1rem;
  }

  .primary-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

  .heart-svg {
    stroke: var(--wish-svg-stroke);
  }

  .svg-close {
    stroke: var(--close-svg-stroke);
  }
}

@media screen and (max-width: 620px) {
  .alerts--common {
    margin: 0 1rem 0 1rem;
  }
}

@media screen and (min-width: 620px) {
  .alert--reduce-width {
    width: 50%;
  }
}

@media screen and (min-width: 576px) {
  .button__primary:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}

@media screen and (min-width: 450px) {
  .img-container__simple-img,
  .img-container__round-img {
    width: 25rem;
  }
}
