<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Images</title>
    <link rel="stylesheet" href="./images.css" />
  </head>
  <body>
    <!-- <div class="img-container">
      <div class="img-container__responsive">
        <img
          class="responsive-img"
          src="https://source.unsplash.com/random/"
          alt="resposive_img"
        />
      </div>
    </div> -->
    <div class="container">
      <img
        class="responsive-img"
        src="https://source.unsplash.com/random"
        alt="round_img"
      />

      <img
        class="responsive-img round"
        src="https://source.unsplash.com/random"
        alt="round_img"
      />
    </div>
  </body>
</html>
