* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.img-container {
  display: flex;
  padding: 1rem;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  border: 1px solid black;
  height: 50vh;
  /* margin: 1rem; */
}

.img-container__responsive,
.img-container__round {
  /* height: 100%; */
  /* width: 50%; */
  /* padding: 1% 0 0 0; */
}

.img-container__round {
  border-radius: 50%;
}

.responsive-img {
  width: 100%;
  object-fit: contain;
  object-position: bottom;
  height: 100%;
}

.responsive-round-img {
  /* border-radius: 50%; */
}

/* .img-container__round {
  padding-top: 1rem;
} */

.img-container__round {
  width: 100%;
  background-size: contain;
}

.container {
  /* height: 20rem; */
  display: flex;
  margin: 2rem;
  /* border: 1px solid black; */
  padding: 1rem;
  /* overflow: hidden; */
}

.round {
  border-radius: 50%;
}
