<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./inputs.css" />
    <title>inputs</title>
  </head>
  <body>
    <!-- start of the input container -->
    <div class="input__container">
      <div class="container--margin container--border">
        <div class="flex--container">
          <div class="input">
            <input
              type="text"
              class="input__text input--common"
              placeholder="Enter Your Name"
              value="hello,world"
              required
            />
            <input
              type="email"
              class="input__email input--common"
              placeholder="Enter Email"
              required
            />
            <input
              type="password"
              class="input_password input--common"
              placeholder="Enter Password(must be 8 chars long)"
              pattern=".{8,}"
              required
            />
          </div>
        </div>
        <pre>
        <code class="language-markup">
          &lt;input
            type=&quot;text&quot;
            class=&quot;input__text input--common&quot;
            placeholder=&quot;Enter Your Name&quot;
            value=&quot;hello,world&quot;
            required
          /&gt;
        </code>
      </pre>
        <pre>
        <code class="language-markup">
           &lt;input
            type=&quot;email&quot;
            class=&quot;input__email input--common&quot;
            placeholder=&quot;Enter Email&quot;
            required
          /&gt;
        </code>
      </pre>
        <pre>
        <code class="language-markup">
          &lt;input
            type=&quot;password&quot;
            class=&quot;input_password input--common&quot;
            placeholder=&quot;Enter Password(must be 8 chars long)&quot;
            pattern=&quot;.{8,}&quot;
            required
          /&gt;
        </code>
      </pre>
      </div>
    </div>
    <!-- end of the input container -->
    <script src="../resources/prism.js"></script>
  </body>
</html>
