<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./lists.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- start of the list container -->
    <div class="list--container">
      <div class="container--border container--margin">
        <ul class="spaced-list">
          <li class="spaced-list__item">List Item 1</li>
          <li class="spaced-list__item">List Item 2</li>
          <li class="spaced-list__item">List Item 3</li>
          <li class="spaced-list__item">List Item 4</li>
          <li class="spaced-list__item">List Item 5</li>
          <li class="spaced-list__item">List Item 6</li>
        </ul>
        <pre>
          <code class="language-markup">
              &lt;ul class=&quot;spaced-list&quot;&gt;
                &lt;li class=&quot;spaced-list__item&quot;&gt;List Item 1&lt;/li&gt;
                &lt;li class=&quot;spaced-list__item&quot;&gt;List Item 2&lt;/li&gt;
                &lt;li class=&quot;spaced-list__item&quot;&gt;List Item 3&lt;/li&gt;
                &lt;li class=&quot;spaced-list__item&quot;&gt;List Item 4&lt;/li&gt;
                &lt;li class=&quot;spaced-list__item&quot;&gt;List Item 5&lt;/li&gt;
                &lt;li class=&quot;spaced-list__item&quot;&gt;List Item 6&lt;/li&gt;
              &lt;/ul&gt;
          </code>
      </pre>
      </div>
      <div class="container--margin container--border">
        <div class="flex--container">
          <ul class="stacked-list">
            <li class="stacked-list__item info--item">
              <img src="../svgs/info-alert.svg" alt="info_icon" />
              <span class="stacked-list__right">
                <h3 class="stacked-list__title">Lorem ipsum dolor sit amet.</h3>
                <small
                  >Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit.</small
                >
              </span>
            </li>
            <li class="stacked-list__item error--item">
              <img src="../svgs/error-alert.svg" alt="info_icon" />
              <span class="stacked-list__right">
                <h3 class="stacked-list__title">Lorem ipsum dolor sit amet.</h3>
                <small
                  >Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit.</small
                >
              </span>
            </li>
            <li class="stacked-list__item warning--item">
              <img src="../svgs/exclamation.svg" alt="info_icon" />
              <span class="stacked-list__right">
                <h3 class="stacked-list__title">Lorem ipsum dolor sit amet.</h3>
                <small
                  >Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit.</small
                >
              </span>
            </li>
            <li class="stacked-list__item success--item">
              <img src="../svgs/success-alert.svg" alt="info_icon" />
              <span class="stacked-list__right">
                <h3 class="stacked-list__title">Lorem ipsum dolor sit amet.</h3>
                <small
                  >Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit.</small
                >
              </span>
            </li>
          </ul>
        </div>
        <pre>
          <code class="language-markup language-markup--fix">
             &lt;ul class=&quot;stacked-list&quot;&gt;
                &lt;li class=&quot;stacked-list__item info--item&quot;&gt;
                    &lt;img src=&quot;../svgs/info-alert.svg&quot; alt=&quot;info_icon&quot; /&gt;
                    &lt;span class=&quot;stacked-list__right&quot;&gt;
                    &lt;h3 class=&quot;stacked-list__title&quot;&gt;Lorem ipsum dolor sit amet.&lt;/h3&gt;
                    &lt;small
                        &gt;Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.&lt;/small
                    &gt;
                    &lt;/span&gt;
                &lt;/li&gt;
                &lt;li class=&quot;stacked-list__item error--item&quot;&gt;
                    &lt;img src=&quot;../svgs/error-alert.svg&quot; alt=&quot;info_icon&quot; /&gt;
                    &lt;span class=&quot;stacked-list__right&quot;&gt;
                    &lt;h3 class=&quot;stacked-list__title&quot;&gt;Lorem ipsum dolor sit amet.&lt;/h3&gt;
                    &lt;small
                        &gt;Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.&lt;/small
                    &gt;
                    &lt;/span&gt;
                &lt;/li&gt;
                &lt;li class=&quot;stacked-list__item warning--item&quot;&gt;
                    &lt;img src=&quot;../svgs/exclamation.svg&quot; alt=&quot;info_icon&quot; /&gt;
                    &lt;span class=&quot;stacked-list__right&quot;&gt;
                    &lt;h3 class=&quot;stacked-list__title&quot;&gt;Lorem ipsum dolor sit amet.&lt;/h3&gt;
                    &lt;small
                        &gt;Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.&lt;/small
                    &gt;
                    &lt;/span&gt;
                &lt;/li&gt;
                &lt;li class=&quot;stacked-list__item success--item&quot;&gt;
                    &lt;img src=&quot;../svgs/success-alert.svg&quot; alt=&quot;info_icon&quot; /&gt;
                    &lt;span class=&quot;stacked-list__right&quot;&gt;
                    &lt;h3 class=&quot;stacked-list__title&quot;&gt;Lorem ipsum dolor sit amet.&lt;/h3&gt;
                    &lt;small
                        &gt;Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit.&lt;/small
                    &gt;
                    &lt;/span&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
          </code>
      </pre>
      </div>
    </div>
    <!-- end of the list container -->
    <script src="../resources/prism.js"></script>
  </body>
</html>
