<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating</title>
    <link rel="stylesheet" href="./rating.css" />
  </head>
  <body>
    <!-- start of the rating container -->
    <div class="rating__container">
      <div class="container--border container--margin">
        <div class="flex--container">
          <span class="rating">
            <img
              src="../svgs/rating.svg"
              class="rating__icon"
              alt="rating_icon"
            />
            4.5
          </span>
        </div>
        <pre>
          <code class="language-markup">
            &lt;span class=&quot;rating&quot;&gt;
                &lt;img
                    src=&quot;../svgs/rating.svg&quot;
                    class=&quot;rating__icon&quot;
                    alt=&quot;rating_icon&quot;
                /&gt;
                4.5
            &lt;/span&gt;
          </code>
      </pre>
      </div>
    </div>
    <!-- end of the rating container -->
    <script src="../resources/prism.js"></script>
  </body>
</html>
