<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Utilites</title>
    <link rel="stylesheet" href="./Text-Utilities.css" />
  </head>
  <body>
    <!-- start of the list container -->
    <div class="container--border container--margin">
      <ul class="spaced-list">
        <li class="spaced-list__item">
          <h1 class="heading">I'm Heading</h1>
        </li>
        <li class="spaced-list__item">
          <p class="small-text">I'm Small</p>
        </li>
        <li class="spaced-list__item">
          <p class="gray-text">I'm Gray</p>
        </li>
        <li class="spaced-list__item spaced-list__item--center">
          <p class="center-text">I'm Center</p>
        </li>
      </ul>
      <pre>
        <code class="language-markup">
          &lt;h1 class=&quot;heading&quot;&gt;I&apos;m Heading&lt;/h1&gt;
        </code>
      </pre>
      <pre>
        <code class="language-markup">
          &lt;p class=&quot;small-text&quot;&gt;I&apos;m Small&lt;/p&gt;
        </code>
      </pre>
      <pre>
        <code class="language-markup">
          &lt;p class=&quot;gray-text&quot;&gt;I&apos;m Gray&lt;/p&gt;
        </code>
      </pre>
      <pre>
        <code class="language-markup">
          &lt;p class=&quot;center-text&quot;&gt;I&apos;m Center&lt;/p&gt;
        </code>
      </pre>
    </div>
    <!-- end of the list container -->
    <script src="../resources/prism.js"></script>
  </body>
</html>
