<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Three Items Grid</title>
    <link rel="stylesheet" href="./threeItemsGrid.css" />
  </head>
  <body>
    <div class="container--margin container--border">
      <div class="three-col-grid">
        <div class="product-container">
          <a href="#" class="product-info">
            <img
              class="product-img product-info__img"
              src="https://unsplash.it/200/300"
              alt="product"
            />Lorem ipsum
            <span class="product-info__small">Lorem ipsum dolor sit Lorem</span>
            <span class="product-info__rating">
              <img src="../svgs/rating.svg" alt="rating_icon" />
              4.5
            </span>
            <span class="price-tag">₹ 2500</span>
            <button class="wish-btn product-info__wish-btn">
              <img src="../svgs/product-wish.svg" alt="wish_btn" />
            </button>
          </a>
        </div>
        <div class="product-container">
          <a href="#" class="product-info">
            <img
              class="product-img product-info__img"
              src="https://unsplash.it/200/300"
              alt="product"
            />Lorem ipsum
            <span class="product-info__small">Lorem ipsum dolor sit Lorem</span>
            <span class="product-info__rating">
              <img src="../svgs/rating.svg" alt="rating_icon" />
              4.5
            </span>
            <span class="price-tag">₹ 2500</span>
            <button class="wish-btn product-info__wish-btn">
              <img src="../svgs/product-wish.svg" alt="wish_btn" />
            </button>
          </a>
        </div>
        <div class="product-container">
          <a href="#" class="product-info">
            <img
              class="product-img product-info__img"
              src="https://unsplash.it/200/300"
              alt="product"
            />Lorem ipsum
            <span class="product-info__small">Lorem ipsum dolor sit Lorem</span>
            <span class="product-info__rating">
              <img src="../svgs/rating.svg" alt="rating_icon" />
              4.5
            </span>
            <span class="price-tag">₹ 2500</span>
            <button class="wish-btn product-info__wish-btn">
              <img src="../svgs/product-wish.svg" alt="wish_btn" />
            </button>
          </a>
        </div>
      </div>
      <pre>
          <code class="language-markup">
            &lt;div class=&quot;three-col-grid&quot;&gt;
                --- enter your elements here ---
            &lt;/div&gt; 
          </code>
      </pre>
    </div>
    <script src="../resources/prism.js"></script>
  </body>
</html>
