@import url("../resources/prism.css");
@import url("./cards.css");
.three-col-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

@media screen and (min-width: 820px) {
  .three-col-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
