<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Two-Items - Grid</title>
    <link rel="stylesheet" href="./twoItemsGrid.css" />
  </head>
  <body>
    <div class="container--border container--margin">
      <div class="two-col-grid">
       <img
          class="responsive-img"
          src="https://source.unsplash.com/random"
          alt="round_img"
        />    
        <img
  class="responsive-img"
  src="https://source.unsplash.com/random"
  alt="round_img"
/>
      </div>
      </div>
      <pre>
        <code class="language-markup">
          &lt;div class=&quot;two-col-grid&quot;&gt;
          --- Enter your elements here ---
          &lt;/div&gt; 
        </code>
      </pre>
    </div>
    <script src="../resources/prism.js"></script>
  </body>
</html>
